
.characterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.characterList div { 
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--dark2);
  border-radius: 5px;
  color: #EFC324;
  background-color: black;
  font-weight: bold;
}

